/* Round subgraph corners */
.cluster rect {
  rx: 14;
  ry: 14;
}

svg foreignObject div {
  display: table !important;
  width: 100%;
  height: 100%;
}

span.nodeLabel {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.reveal table {
  font-size: smaller;
  overflow-y: scroll;
  max-height: calc(var(--slide-height)*0.75);
}

.small-table table {
  font-size: .4em;
  margin: .5rem;
}

.center img {
  display: inline-block;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: url('https://github.com/web-fonts/dejavu-sans/raw/refs/heads/master/fonts/dejavu-sans-webfont.woff2') format('woff2'),
      url('https://github.com/web-fonts/dejavu-sans/raw/refs/heads/master/fonts/dejavu-sans-webfont.woff') format('woff'),
      url('https://github.com/web-fonts/dejavu-sans/raw/refs/heads/master/fonts/dejavu-sans-webfont.ttf') format('trutype');
}

div.slides > #TOC > nav > ul {
  overflow-y: scroll;
  max-height: calc(var(--slide-height)*0.75);
  width: 100%;
}
